<style>

.base {
    background: darkslategray;
    margin-top: 5vh;
    border: 3px solid black;
    width: 100%;
}

.maindisplay {
    background: lightgrey;
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 30%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 20%;
    background: whitesmoke;
    color: grey;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: red;
    background: black;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.numkey {
    color: skyblue;
    background-color: grey; 
}

.opkey {
    color: white;
    background-color: black; 
}

</style>

<div class="content" role="main">

  <div class="maindisplay">
    <div class="subdisplay">{{ subDisplayText }}</div>
    {{ mainDisplayText }}
  </div>

  <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
     
        <div class="keypad">
          <table style="width: 100%;">
            <tr>
              <td class="keys ackey" colspan="3" (click)="allClear()">AC</td>
              <td class="keys opkey" colspan="1" (click)="pressKey('/')">/</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="pressKey('7')">7</td>  
              <td class="keys numkey" (click)="pressKey('8')">8</td>
              <td class="keys numkey" (click)="pressKey('9')">9</td>  
              <td class="keys opkey" (click)="pressKey('x')">x</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="pressKey('4')">4</td>  
              <td class="keys numkey" (click)="pressKey('5')">5</td>
              <td class="keys numkey" (click)="pressKey('6')">6</td>  
              <td class="keys opkey" (click)="pressKey('-')">-</td>
            </tr>
            <tr>
              <td class="keys numkey" (click)="pressKey('3')">3</td>  
              <td class="keys numkey" (click)="pressKey('2')">2</td>
              <td class="keys numkey" (click)="pressKey('1')">1</td>  
              <td class="keys opkey" (click)="pressKey('+')">+</td>
            </tr>
            <tr>
              <td colspan="2" class="keys numkey" (click)="pressKey('0')">0</td>
              <td class="keys numkey" (click)="pressKey('.')">.</td>  
              <td class="keys equalkey" (click)="getAnswer()">=</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>



<router-outlet></router-outlet>
